body {
  position: absolute; }

#slides > input,
#slides > label {
  display: none; }

:root {
  font-size: 162.5%; }

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, 'Droid Sans';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #fff;
  color: #333; }

#info {
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500;
  color: #666; }
  #info * {
    font-size: 0.5rem; }

/* optional */
#topinfo {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500; }

.key {
  font-weight: bold;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.3); }

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden; }

.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

header, section {
  padding: 10px 20px; }

.slide {
  transform: translate(100%, 0) scale(0.1) rotate(180deg);
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  .slide.future {
    transform: translate(45%, -50%) scale(0.2) rotate(-90deg); }
  .slide.current {
    transform: translate(0%) scale(1) rotate(0deg); }
  .slide.past, .slide.far-past {
    transform: translate(-100%, 0) scale(0.1) rotate(0deg); }

/* CSS Counter */
body {
  counter-reset: pagecount; }

.slide {
  counter-increment: pagecount; }

.slide:after {
  content: counter(pagecount);
  color: #999;
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
  left: calc(50vw -0.5rem); }

#next,
#back {
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #666;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-size: 1rem; }

#next {
  left: auto;
  right: 5px; }

/* Content */
header {
  font-weight: normal;
  letter-spacing: -.05em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  left: 30px;
  top: 25px;
  font-size: 2rem; }

h1 {
  font-size: 1.8rem;
  margin-bottom: 0px; }

h2 {
  font-size: 1.6rem; }

h1:first-child {
  margin-top: 0; }

h3 {
  font-size: 1.4rem; }

h4, p, li {
  font-size: 1.2rem; }

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden; }

footer {
  font-size: 1rem;
  margin: 20px 0 0 30px; }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%; }

a:hover {
  text-decoration: underline; }

pre, style {
  text-align: left;
  font-size: 1.2rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 1.6;
  tab-size: 2; }

pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
  /*letter-spacing: -1px;*/ }

pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px; }

.content {
  font-size: 2rem; }

.content input, button {
  font-size: 2rem; }

.slide textarea.mynotes {
  -webkit-appearance: none;
  border: 1px #aaa solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive,serif; }

.slide.intro {
  text-align: center;
  font-size: 2rem; }

.slide.intro hgroup {
  margin-top: 200px; }

.slide.section, .slide.intro {
  text-align: center; }

.slide.section, .slide.intro header {
  font-size: 2.5rem; }

.slide li {
  margin-bottom: 10px; }

.slide * {
  font-size: 2rem; }

.force-render {
  display: block;
  visibility: hidden; }

a[target=play] {
  position: absolute;
  top: 10px;
  left: 40%;
  background: black;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%; }
  a[target=play]:hover {
    text-decoration: none;
    color: pink;
    font-weight: bold; }

/* OBJECT PAGES */
.object header {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0; }

.objectlink {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #000;
  padding: 3px 5px;
  border: none; }

.slide.object {
  padding: 0; }

.object object {
  width: 100%;
  height: 100%; }

.notes {
  display: none;
}
 .temphidden {
  visibility: hidden }

figure {
  display: block;
  text-align: center; }
  figure > :not(figcaption) {
    text-align: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: none; }


@media print {
  .slide {
    page-break-inside: avoid;
    page-break-after: always;
    visibility: visible !important;
    font-size: 20pt;
    font-family: Arial, sans-serif; }

  @page {
    size: landscape; }

  body {
    font-size: 12pt;
    background: white; }

  header h1 {
    border-top: 2pt solid gray;
    border-bottom: 1px dotted silver; }

  #info, #topinfo, .counter {
    display: none; }
  }
  /* -----
     -----
     ----- */
  h1 {font-family: 'Rock Salt', georgia, helvetica, sans-serif;}
blockquote {line-height: 1.4;}
.slide {
  font-family: 'Architects Daughter', cursive;
}



#linkedinDrinking .linkedin {
   font-family: times, times new roman, serif;
   border-color: #ccc;
   border-width: 40px 10px 0;
   border-style: solid;
   width: 80vw;
   margin: auto;
   padding: 20px 20px 0;
 }
.linkedin p {
   font-size: 1.5rem;
}
#linkedinDrinking mark {
  background-color: yellow;
}

#worstjob div:first-of-type {
  height: 85vh;
  overflow:scroll;
  padding: 20px;
}
#jobboards,
#schools,
#pipes {
  background-image: url(../img/pipeline.jpg);
  background-size: cover;
}

#troll {
  background-image: url(../img/troll.jpg);
  background-size: cover;
}
#jez {
  background-image: url(../img/jez.png);
  background-size: cover;
}
#jez h1 {
  color: #FAB81E;
}
svg text {
  font-family: impact;
  text-shadow: 1px 1px 1px white, 3px 3px 3px black;
}

#students {

}

#leaks {
  background-image: url(../img/pipelineleak.png);
  background-size: cover;
}
#leaks ul {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 1em 10%;
}
#leaks strong {
  color: #f33;
  text-shadow:
    1px 1px 1px white,
    2px 2px 2px black;
}

#dreamjob {
  background-image: url(../img/dreamjob.jpg);
  background-size:  cover;
  }
#deathbulge { /* comic */
  background-image: url(../img/deathbulge.png);
  background-repeat:  no-repeat;
  background-size:  contain;
  background-position: center;
}

#easyhard blockquote {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}
#easyhard blockquote * {
  font-size: 1.8rem;
}
#easyhard blockquote > div {
  flex: 0 0 45%;
}
#easyhard blockquote > p {
  flex: 0 0 100%;
  text-align: center;
}


.slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#pingpong {
  background-image: url(../img/pp.png);
  background-position: right bottom;
  background-size: 50% auto;
}
#people {
  background-image: url(../img/people2.gif);
}
#plumber {
  background-image: url(../img/plumber.jpg);
}
#superpower {
   background-image: url(../img/superpower.gif);
   background-position: 50% 50%;"
}
#superheros {
  background-image: url(../img/superheros2.jpg);
}
#asshats {
  background-image: url(../img/cowboy_etc.jpg);
}
#plumber {
   background-image: url(../img/plumber.jpg);
}
#superstar {
  background-image: url(../img/dist.gif);
  background-size: auto;
}
#imposter {
  background-image: url(../img/dist2.gif);
  background-size: auto;
}
#normal {
  background-image: url(../img/normal.gif);
  background-size: auto;
}

#sexistjob h1 {
  position: absolute;
  left: 320px; top: 320px;
  transform: rotate(-5deg);
  color: red;
}

#minime {
  background-image: url(../img/minime.gif);
}
.twitter-tweet {
  margin-right: 240px;
}
#quotes {
  text-align: center;
}
#quotes blockquote {
  border-top: 1px solid red;
  text-align: left;
  padding:10px 30px;
  margin-bottom: 0;
  margin-top: 1em;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

#directives, #rules {
  background-image: url(../img/apple.png);
  background-position: right 40px bottom 40px;
  background-size: auto;
}

#pyramid ul{
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 0; padding: 3vh 0 0 0;
  list-style-type: none;
  background-image:
  linear-gradient(50deg,
    transparent 50%,
    white 50%
    ),
  linear-gradient(-50deg,
    transparent 50%,
    white 50%
    ),
  linear-gradient(
    to bottom,
    red 15%,
    orange 15%,
    orange 29%,
    yellow 29%,
    yellow 43%,
    green 43%,
    green 57%,
    blue 57%,
    blue 71%,
    purple 71%,
    purple 86%,
    magenta 86%
    );
  background-position: 23vw 0, -23vw 0, center center;
  background-size: 90vw;
  background-repeat: no-repeat;
}
#pyramid li {
  margin: 0; padding: 0;
  text-align: center;
  flex: 0 0 11vh;
  line-height: 11vh;
  text-shadow: 1px 1px 1px white;
}
#pyramid li:nth-of-type(n+4){
  color: white;
  text-shadow: 1px 1px 1px #000;
}

#pyramid li:nth-of-type(4) span {background-color: green;}
#pyramid li:nth-of-type(5) span {background-color: blue;}
#pyramid li:nth-of-type(6) span {background-color: purple;}
#pyramid li:nth-of-type(7) span {background-color: magenta;}
div.good,
div.bad {
  position: absolute;
  top: calc(50vh + 260px);
  left: calc(50vw + 280px);
}
div.bad {
  left: calc(50vw - 320px);
}
.them,
.me,
.us {
  position: absolute;
  top: calc(50vh + 140px);
  left: calc(50vw + 260px);
  line-height: 1
}
.them span,
.me span,
.us span {
  color: red;
}
.me {
  left: calc(50vw - 340px);
}
.us {
  text-align: center;
  left: calc(50vw - 3.5em);
  border-left: 5px dashed #666;
  border-right: 5px dashed #666;
}

svg text { font-family: Impact;}

#final, #estelle {
  background-image: url(../img/shestelle.png);
  background-position: bottom right;
  background-size: auto 50vh;
}
#estelle {
  background-image: url(../img/ColorEstelle.gif);
}

