@import "vars";

div .slash {
  font-size: 4rem;
  -webkit-transform: rotate(-10deg);
  margin-top: 150px;
  text-align: center;
}

.wholepoint {
  position: absolute;
  bottom: 20px; right: 20px;
  font-size: 1rem;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3),-3px -3px 3px rgba(0,0,0,0.3);
  background-color: white;
}

.hoverhilite {
  letter-spacing: 1;
  &:hover {
    color: $ILblue;
    letter-spacing: initial;
    font-weight: bold;
  }
  u {
    text-decoration: none;
  }
  &.bad:hover u {
      color: $red;
      text-decoration: line-through;
    }
}