
:root {font-size: 162.5%;}
body {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px; top: 0px;
  background: no-repeat url(../img/instartlogo.svg) white;
  background-position: right 10px top 92vh;
}

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
#next,
#back {
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #333;
  background-color: #ccc;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px 10px;
  letter-spacing:1px;
  font-size: 1rem;
}
#next {left: auto; right: 5px;}
