@import "variables";

.hidden_dd {
		margin-top: 0;
		transform: translatey(-1vh);
		max-height: 80vh;
		overflow: scroll;
		margin-bottom: 3vh;
	dt {
		margin-bottom: 0;
		margin-top: 0.2rem;
		//width: 60%;
		padding-left: 5px;
		font-weight: bold;
		display: block;
		clear: both;
		&:hover {color: $background;
		background-color: $ilblue;
		border-bottom: 1px solid $ilblue;}
		border-bottom: 1px solid #dedede;
		font-size: 1.6rem;
	}
	dd {
		position: absolute;
		top: -101vh;
		font-size: 1rem;
		margin-left: 0;
		padding: 5px 5px 10px 10px;
	}
	dt:hover + dd {
    position: static;
    background-color: #dedede;
}
}
.halfwidth {
dd {
		width: 50%;
}}