@import "variables";

pre {
  text-align: left;
  background: 
    linear-gradient(to top, transparentize($ilblue, .8) 50%, transparentize(white, .5) 50%);
    background-position: 0 0.75rem;
  background-attachment: local;
  background-size: 100% 2.5rem;
  border-radius: 1vh;
  box-sizing: border-box;
  max-height: calc(100vh - 150px); 
  width: 98%;
  margin: 0 1vw 20px;
  overflow: auto;
  padding: 0.75rem 10px;
  line-height: 1.25rem;  
  font-size: 1rem; 
  position: relative; 
  top: -10px;
  border: 1px solid $lightborders;
  u {
    text-decoration: none;
    color: red;
  }



b, em {
  font-weight: normal;
  font-style: normal;
  color: $ilblue;
  font-weight: bold;
  transition: 200ms;
  &:hover {
    display: inline-block;
    transform: scale(1.5);
    background-color: rgba(255,255,255,0.8);
    transform-origin: left center;
  }
}
&.allcode {
  height: 90vh;
}
}
/* pre.big {
  font-size: 5vh;
  line-height: 6vh;
  background-size: 100% 12vh; 
} */
