@import "layout";
@import "slides";
@import "content";
@import "pre";
@import "objects";
@import "externallink";
@import "slidedisplay";
@import "piechart";
@import "blind";
@import "deaf";
@import "graph";
@import "aria";
@import "hiddendd";
@import "thinkoutsidebox";

img.bytes {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 1px solid #ccc;
}
/*
@import "buttons";
@import "counter";
@import "tweet";
@import "hiddendd";
@import "popdd";
@import "wcag2";
@import "svg";
@import "resources";
@import "scaffolding";
@import "thinkoutsidebox"; */

@import "print"; 
