.btn-menu:before {
	content: "\f0c9";
	content: "≣";
}
.btn-submenu {
	
}
.btn-submenu:before {
	content: "";
	height: 0; width: 0;
	display: inline-block;
	border: 5px solid transparent;
	border-left-color: $ilblue;
}
.btn-submenu.active:before {
	content: "\f106";
}
.btn-menu {
	display: none;
}
.btn-menu {
	float: right;
	color: red;
	text-align:center;
	width: 28px;
	height: 28px;
	cursor: pointer;
	transition: $transdur ease-out;
}