
.crellyslider > .cs-controls > .cs-previous, .crellyslider > .cs-controls > .cs-next,
.crellyslider > .cs-controls > .cs-previous {
	background-image: none !important;
}
.crellyslider > .cs-controls > .cs-previous, .crellyslider > .cs-controls > .cs-next::before,
.crellyslider > .cs-controls > .cs-previous::before {
	font-family: Fontawesome;
	color: $white;
	font-size: 38px;
	margin-top: -20px;
}
.crellyslider > .cs-controls > .cs-previous, .crellyslider > .cs-controls > .cs-next::before {
	content: '\f105';
}
.crellyslider > .cs-controls > .cs-previous::before {
	content: '\f104';
}
.crellyslider,
.crellyslider > .cs-slides > .cs-slide {
  min-height: 270px;
}
.crellyslider > .cs-slides > .cs-slide div {
  margin-top: 40px;
}
.crellyslider > .cs-controls > .cs-previous {
  margin-top: 0;
}
.crellyslider > .cs-controls > .cs-previous, .crellyslider > .cs-controls > .cs-next {
	background-color: transparent;
	box-shadow: none;
}

@import "crelly_fourslides";