.error-wrap {
	h1 {
		font-size: 35px;
		color: $lightcolor;
		font-weight: 600;
		margin: 0 0 40px;
		line-height: normal;
	}
	h5 {
		margin-top: 60px;
		font-size: 18px;
		font-weight: normal;
	}
	.error-search {
		padding: 0 80px;
	}
}