.product-hilites {
	width: 100%; float: left;
	background-color: $secondbar;
	padding: 50px 7vw 30px;
	display: flex;
	* {
		color: white;
	}
	.panel-grid-cell {
		&:not(:last-of-type) {
			border-right: 1px solid $midblue;
			padding-right: 2vw;	
		}
		&:not(:first-of-type) {
			padding-left: 2vw;	
		}
	}
}