.meta-post {
  	margin-bottom: 20px;	
	blockquote {
	    background-color: $textgrey;
	    color: $white;
	    font-style: italic;
	    line-height: 23px;
	    margin-bottom: 30px;
	    padding: 30px 35px;
	    position: relative;
	}
}