body.no-hero {
	.header-image {
		min-height: 100px;
	}
	.sydney-hero-area {
		display: none;
	}
	.entry-header {
		h1 {
			font-size: $xlargeFont;
		}
	}
}


/*body[class*="no-header"] #page {
	padding-top: 100px;
}*/