article.hentry {
		background-color: #ededef;
		padding: 30px; // app adds inline styles
	}
.hentry .panel-grid-cell {
	padding: 20px;
    background-color: $white;
    border: 1px solid;
	align-self: stretch;
}
.entry-content h3.widget-title {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	&:after {
		content: none;
	}
	.home & {
		font-size: 3rem;
		margin: 1rem auto;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		&::before, &::after {
			content: '';
			height: 1px;
			min-width: 300px;
			background: $ilblue;

		}
	} 
}
