.page-title {
	color: $lightcolor;
	padding-top: 100px;
	.col-md-6 {
		float: none;
	}
	.breadcrumbs {
		display: table-cell;
		list-style: none;
		text-align: left;
		vertical-align: middle;
	}
	h1 {
		margin: 0;
		font-size: 18px;
		color: $lightcolor;
	}
}
.page-title-inner {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.page-title-cap {
	display: table-cell;
	vertical-align: middle;
}