
.col-xs-12 {
  float: left;
  width: 100%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .col-sm-3, .col-sm-4, .col-sm-6,.col-sm-8 {
    float: left;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }

}
@media (min-width: 992px) {
  [class*="col-md-"] {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }

}


