.footer-widgets {
	padding: 95px 0;
	background-color: $darkgrey;
	.widget-title {
		text-transform: uppercase;
		color: #c5c5c5;
		line-height: normal;
		margin: 5px 0 0;
	}
}
.footer .copyr {
	color: #a8a8a8;
	margin-bottom: 0;
}