.fuckInlineStyles {
   transform-origin: top left;
   .twitter-tweet {
   transform-origin: top left;
   }
}

@media screen and (min-width: 978px) {
.fuckInlineStyles {
   transform: scale(3);
   .twitter-tweet {
   transform: scale(.333) !important;
   }
  }
}
@media screen and (min-width: 700px) {
.fuckInlineStyles {
   transform: scale(2);
   .twitter-tweet {
   transform: scale(.5) !important;
   }
  }
}

@media screen and (min-width: 500px) {
.fuckInlineStyles {
   transform: scale(1.5);
   .twitter-tweet {
   transform: scale(.667) !important;
   }
 }
}