html {
	font-family: Raleway, sans-serif;
}
body, header, footer {
	margin: 0; padding: 0;
	line-height: 2;
}

section, footer {
	padding: 4vh 1vw;
	margin-left: -1vw;
	margin-right: -1vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	section, footer {
		padding: 20px;
	}
}

section > * {
	max-width: 54rem;
}
section:first-of-type {
	background-color: $ilblue;
  box-shadow: $shadows, $topshadows;
	color: #fff;
}
section:nth-of-type(2) {

	background-image: url("../images/bg.jpg");
  box-shadow: inset $shadows, inset $topshadows;
	background-size: cover;
}
section:nth-of-type(3),
table {
	background-color: white;
	color: #333;
  box-shadow: $shadows, $topshadows;
}

section:nth-of-type(4) {
	background-color: $ilb_light;

  box-shadow: inset $shadows, inset $topshadows;
	color: #333;
}

section:nth-of-type(5) {
	background-color: darken($ilblue, 20%);

  box-shadow:  $shadows,  $topshadows;
	color: #333;
}
footer {
	background-color: $bg_light;
  box-shadow: inset $shadows, inset $topshadows;
}
