nav {
	display: flex;
	justify-content: space-between;
	background: rgba(255,255,255,0.9);
	position: fixed;
	width: 100%;
	_box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	img {
		margin: 7px 0 -7px 7px;
		height: 2.5rem;
	}
	ul {
		display: flex;
		list-style-type: none;
			margin: 0; padding: 0;
		li {
			flex: 1;
			a {
				padding: 10px;
				height: 100%; width: 100%; box-sizing: border-box;
				display: block;
				text-decoration: none;
				&:hover {
					color: white;
				}
			}
			&:hover {
				background: $ilblue;
			}
		}
	}
}


