.teachers img, .hal {
	width: 200px;
	border-radius: 50%;
	float: left;
	shape-outside: circle(50%);  
    clip-path: circle(50%);
    transform: translatex(-10px);
}
.teachers {
	ul {
		display: flex;
		list-style-type: none;
		justify-content: space-between;
		li {
			flex: 0 1 45%;
			min-width: 300px;
		}
		
	}
	h3 {
		font-size: 2rem;
	}
	.hal:hover {
		position:relative;
		img {visibility: hidden;}
	}
	.hal:hover::after {
		content: '';
		background: url(../svg/halanim.svg);
		top:0; left:0; right:0; bottom:0;
		position: absolute;

    transform: translatex(-10px);
	}
}